- content_for :meta_title do
  Articles by category:
  = h @article_category.name

%h1= yield(:meta_title).strip

= render :partial => "/articles/sidebar"

= render :partial => "/articles/article_for_list", :collection => @articles

